
<html>
  <head> 
    <link rel="stylesheet" href="week7_1.css"/>
    <!-- Swiper CSS顯示格式 -->
    <link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
		/>
  </head>
  <body>
    <!-- Swiper -->
    <div id="app">
      <div class="swiper carousel">
        <div class="swiper-wrapper">

<!-- 第一張 -->
          <figure class="swiper-slide" v-for="(card,id) in cards">
            <div class="box"> 
              <div class="top"> 
                <h2 class="name"> {{card.title}} <span class="smalltext"></span></h2>
                <div class="tag"> 
                  <div class="cirbutton"> </div>
                </div>
              </div>
              <div class="bottom">       
                
                <div class="buttons"> 
                    
                </div>
              </div>
            </div>
          </figure>


<!-- 原本的第五張但我移到第二張了 -->

          <figure class="swiper-slide" v-for="(card,id) in cards5">
            <div class="box"> 
              <div class="top5"> </div>
              <div class="bottom5"> 
                <div class="cirbutton5"> </div>
                  <input type="button" value="動畫連結" style="position: absolute; left: 282px; bottom: 45px; background-color: rgb(231, 214, 183); border: 0px; border-radius: 5px;" onclick="location.href='https://youtu.be/DMLYwdXwTQ0'" >
                <div class="cirbutton5-2"> </div>
                <div class="tag5"></div>
              </div>
            </div>
          </figure>          

<!-- 原本的第二張但我移到第三張了 -->
          <figure class="swiper-slide" v-for="(card,id) in cards2">
            <div class="box"> 
              <div class="top2"> </div>
              <div class="bottom2"> 
                
              </div>
            </div>
          </figure>


<!-- 原本的第三張但我移到第四張了 -->


          <figure class="swiper-slide" v-for="(card,id) in cards3">
            <div class="box"> 
              <div class="toppp"> 
                <h2 class="name"> {{card.title}} </h2>
                <!-- <div class="tagg"> 
                </div> -->
              </div>
              <div class="center">
              </div>
              <div class="bottommm">       
                <div class="buttons"> 
                </div>
              </div>
            </div>
          </figure>


<!-- 原本的第四張但我移到第五張了 -->


          <figure class="swiper-slide" v-for="(card,id) in cards4">
            <div class="box"> 
              <div class="top4"> 
                <div class="tag4"> </div>
                <div class="tag4-5"></div>
              </div>
              <div class="bottom4">
              </div>
            </div>
          </figure>


<!-- 第六張 -->
          <figure class="swiper-slide" v-for="(card,id) in cards6">
            <div class="box"> 
              <div class="top6"> </div>
              <div class="bottom6"> 
                
                <div class="cirbutton6"> </div>
                <div class="cirbutton6-2"> </div>
                <div class="tag6"></div>
              </div>
            </div>
          </figure>

<!-- 第七張 -->
          <figure class="swiper-slide" v-for="(card,id) in cards7">
            <div class="box"> 
              <div class="top7"> 
                <h2 class="name"> {{card.title}} </h2> 
              </div>
              <div class="bottom7">
                
                <div class="tag7"></div>
                <div class="tag7-2"></div>
                </div>
            </div>
          </figure>

                    






        </div>
        <button type="button" class="swiper-button-next"></button>
        <button type="button" class="swiper-button-prev"></button>
        <div class="swiper-pagination"></div>
      </div>  
    </div>
    <!-- Swiper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.8/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="week7.js"></script>
		<!-- Initialize Swiper -->
  </body>
</html>